body {
    margin: 2rem;
    padding: 0;
}

header {
    height: 100vh;
    border: 1px solid red;
    color: #212121;
}

section {
    height: 70vh;
    border: 1px solid whitesmoke;
    background-color: #212121;
    color: antiquewhite;
    transition: all 0.5s ease-in-out;
}

.section--hidden {
    opacity: 0;
    transform: translateY(3rem);
}